body {
  font-family: 'Poppins', sans-serif;
  background: #F3F1FF;
}

.container {
  width: 870px;
  background: #ffffff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .top_players {
  padding: 30px;
  border-bottom: 1px solid #D1D1D1;
}

section .top_players .section_title {
  font-size: 24px;
  color: #562EFF;
  font-weight: 500;
  margin-top: 3px;
}

section .top_players .players {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
}

section .top_players .players .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .top_players .players .player img {
  width: 56px;
  height: 56px;
}

section .top_players .players .player .player_name {
  margin-left: 18px;
  font-size: 18px;
}

section .top_blogs {
  padding: 30px;
}

section .top_blogs .blog_title {
  font-size: 24px;
  color: #562EFF;
  font-weight: 500;
}

section .top_blogs .blogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

section .top_blogs .blogs .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

section .top_blogs .blogs .blog img {
  width: 177px;
  height: 117px;
}

section .top_blogs .blogs .blog .blog_writer {
  margin-left: 16px;
}

section .top_blogs .blogs .blog .blog_writer h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6px;
}

section .top_blogs .blogs .blog .blog_writer span {
  font-size: 16px;
  color: #9F9F9F;
  font-weight: 400;
}

section .top_blogs .blogs .blog .blog_writer span a {
  font-weight: 500;
  color: #562EFF;
  text-decoration: none;
  margin-left: 5px;
}

.courses_sec {
  background: #ffffff;
  margin-top: 21px;
}

.courses_sec .course_box .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses_sec .course_box .courses .course {
  padding: 14px;
  margin: 10px;
  -webkit-box-shadow: 0 0 25px #dbdbdb;
          box-shadow: 0 0 25px #dbdbdb;
  border-radius: 15px;
}

.courses_sec .course_box .courses .course img {
  width: 224px;
  height: 104px;
}

.courses_sec .course_box .courses .course h3,
.courses_sec .course_box .courses .course h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.courses_sec .course_box .courses .course h3 {
  margin: 0 0 5px;
}

.courses_sec .course_box .courses .course h4 {
  margin: 0 0 7px;
}

.courses_sec .course_box .courses .course span {
  color: #ED6B4F;
}
/*# sourceMappingURL=style.css.map */